<h1>Hello </h1>
<table class="table table-border">
	<tr>
		<th>Company Name</th>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Email</th>
		<th>Phone Number</th>
		<th>Company Type</th>
		<th>No of Employee</th>
	</tr>
	<tr>
		<td><%=@inquiry.company_name%></td>
		<td><%=@inquiry.first_name%></td>
		<td><%=@inquiry.last_name%></td>
		<td><%=@inquiry.email%></td>
		<td><%=@inquiry.phone_number%></td>
		<td><%=@inquiry.company_type%></td>
		<td><%=@inquiry.no_of_employee%></td>
	</tr>
</table>